--swiftversion 5.9
--indent 4
--maxwidth 120
--commas inline
--linebreaks lf
--trimwhitespace always
--ifdef no-indent
--self remove
--selfrequired log,trace,debug,info,notice,warning,error,critical,fault
--importgrouping testable-bottom
--exclude .build,DerivedData,Sources/Resources
